body {
  background-color: rgb(255, 255, 255);
  font: normal 15pt Arial;

}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.573);

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

h1 {
  text-align: center;
}

div {
  text-align: center;
  margin-top: 30px;
}

img {
  width: 400px;
}

p {
  text-align: center;
}