body {
  background-color: rgb(108, 108, 245);
  font: normal 20pt Arial;
}

header {
  color: white;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.573);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

h1 {
  text-align: center;
}
